/* the fons, margins, color, etc of everything */
#html, body { font-family: sans-serif; font: 13px trebuchet ms; margin: 0; padding: 0; color: #000; height: 100%; background: #fff;}/*#8fb8db*/

/* what holds everything in place */
/*#container { background: #fff; width: 820px; margin: 10px auto; padding: 2px; }
*/

#container{
	background: #fff; /*gba(245, 245, 245, 0.75);*/
	margin: 50px auto;
	width: 1280px;
	padding: 0 25px;
	border: 1px solid #FFFFFF;
}
/* the banner image holder 
	-webkit-box-shadow: #444 0px 0px 7px;
	-moz-box-shadow: #444 0px 0px 7px;
	box-shadow: #444 0px 0px 7px;
	*/

/* the top navigation bar */
#nav { background: #fff; width: 1280px; background: #fff; text-align: right; padding: 5px; margin: 0 0 5px 0; }

/* where all the main text is stored */
#content { height: 100%; float: left; background: #fff; padding: 5px; width: 1280px; margin-bottom: 20px;  }
#content p{font-size: 24px}

/* the right bar */
#navbar{text-align:center; margin-top:0px; margin-bottom:0px;width: 1280px;  padding: 0 0 0 0; height:50px;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  }
#navbar ul{
	margin: 5px 0 15px 20px; padding: 0; 
}
#navbar ul li{
border-top: 1px solid #ccc;
  margin: -5px 0px -0px 0;
  padding: 0;
  display: block;
  float:left;
  width: 150px;
  border: 0px solid #000;
  font-size:30px;
  text-align:center;  
  list-style-type: none;

}
#navbar a { display: block; color: #666; text-decoration: none; padding: 5px 0 5px 0;
height:38px} #navbar a:hover { background: #8fb8db; color: #fff; }

#sidebar { float: right; width: 130px; border-left: 1px dotted #ccc; padding: 5px 0 0 10px; margin: 10px 0 10px 15px; }

/* the links in the banner image */
#topbar { text-align: right; color: #666; padding: 5px; margin-right: 55px; }

/* footer */
#footer { clear: both; border-top: 4px solid #666;  text-align: center; padding-bottom: 5px; width:1280px} 

/* link styling */
/*#content a { color: #87af7b; text-decoration: none; } #content a:hover { text-decoration: underline; }*/
#content a { color: #2121b2; text-decoration: none; } #content a:hover { text-decoration: underline; }


#topbar a { color: #8fb8db; text-decoration: none; } #topbar a:hover { text-decoration: underline; }
#nav a { color: #666; font-weight: bold; text-decoration: none; } #nav a:hover { text-decoration: underline;  }
#topbar a { color: #666; font-weight: bold; text-decoration: none; } #topbar a:hover { text-decoration: underline; }
#footer a { color: #666; font-weight: bold; text-decoration: none; } #footer a:hover { text-decoration: underline; }
#footer p{font-size: 18px;}
#sidebar a { display: block; color: #666; text-decoration: none; padding: 5px 0 5px 0;} #sidebar a:hover { background: #deebd2; color: #666; }

/* extra attributes */
.wrapper {
	background: #F5F5F5;
	background: rgba(245, 245, 245, 0.75);
	margin: 50px auto;
	width: 960px;
	padding: 0 25px;
	border: 1px solid #FFFFFF;
	-webkit-box-shadow: #444 0px 0px 7px;
	-moz-box-shadow: #444 0px 0px 7px;
	box-shadow: #444 0px 0px 7px;
}

.headline { color:#000; font-size: 36px; margin: 30px 0 30px 0; }
.meta { background: url('images/bg.gif'); border-top: 1px solid #ccc; text-align: left; color: #666; text-transform: uppercase; letter-spacing: 2px; border-bottom:1px solid #ccc}
.imageright { float: right; padding: 3px; margin: 3px 3px 0 7px; } .imageright:hover { border: 1px solid #666; }
.imageleft { float: left; border: 1px solid #ccc; padding: 3px; margin: 3px 10px 0 0px; }  .imageleft:hover { border: 1px solid #666; }
.sideimage { border: 1px solid #ccc; padding: 3px; margin: 4px; margin: 10px 0 5px 0; } .sideimage:hover { border: 1px solid #666; }
#topbar ul { margin: 0; padding: 0; } #topbar li { list-style: none;  width: auto;  }
#sidebar ul { margin: 5px 0 15px 20px; padding: 0; border-top: 1px solid #ccc; } #sidebar li { margin: 0; padding: 0; text-align: center; list-style-type: none;  border-bottom: 1px solid #ccc; }
#content ul { margin: 5px 0 10px 30px; padding: 0; border-top: 1px solid #ccc; width: 320px; } #content li { display: block; text-align: left; margin: 0; padding: 0 0 0 10px; list-style-type: none; border-bottom: 1px solid #ccc; }
#content li:hover { background: #deebd2; }
strong { color: #000; background: inherit; }
pubname { color:#000; font-weight:500;background: inherit; }

blockquote { background: url('images/blockbg.jpg') repeat-x; color: #666; padding: 5px; border: 1px solid #ccc; margin: 5px 0 15px 0px; }
#banner h1 {
	 position: absolute; letter-spacing: -2px; font-size: 32px; top: 15px; left: 20px;
}
#topbar h3 { margin: 0 0 3px 0; padding: 0; }

table
{
    font-family: sans-serif;
    font-size: 28px;
}

.index
{ width:600px;background-color:#eee;border-collapse:collapse;  
}
.index td { padding:3px;border:1px solid white;font-size:       28px; text-align:justify; }
.index th { padding:3px;border:1px solid white;font-size:       28px; text-align:justify; }
td.head { padding:10px;border:1px solid white;font-size:       28px; text-align: center;}

.here {background-color:#ccff99;}

